.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}
.register {
   background: white;
   border-radius: 15px;
   min-height: 400px;
   width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 20px 10px;
}


.input-box {
    display: flex;
    flex-direction: column;
    width:300px;
    padding: 0px 15px;
    margin: 20px 0px;
}

.input-box input {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1 solid grey;
    outline: none;
    margin: 10px 0px;
}

button {
    background: rgb(26, 178, 69);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    padding: 8px 0px;
    margin: 4px 0px;
}

.login {
    background: white;
    border: 1px solid black;
    color: black;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    padding: 8px 0px;
}